body,html { height: 100%; }
#wrapper {min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -60px;}
#foot, #push { height: 60px; clear: both; }
.container { width:1024px; }
.coords { cursor: pointer; min-width:180px; position: relative;}
.sex2deg-toogle { position: absolute; right: 2px; top: 1px;}
.img-polaroid {margin-top:16px;}
/* for ranking */
.namecol { width: 100px !important; white-space: nowrap; overflow: hidden;text-overflow: ellipsis; }
.ratingcol { position:relative; min-width:50px; }
.ratingbar { position:absolute; display:block; height:16px; }
.ratingbar.bad { background-color:#9d261d; }
.ratingbar.good { background-color:#46a546; }
/* for gallery */
.imagenamecol {min-width: 180px;}
.timecol {width: 134px;}
.modal {top: 60px; }
#des-hero {position: relative; padding: 30px 60px; border: 1px solid #ddd; border-top: 0px; margin-top: -20px; }

/* CSS for Custom tooltip */
#tip{
 position : absolute;
 border : 1px solid gray;
 background-color : #efefef;
 padding : 3px;
 z-index: 1000;
 /* set this to create word wrap */
 max-width: 200px;
}