body,html { height: 100%; }
#wrapper {min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -60px;}
#foot, #push { height: 60px; clear: both; }
.container { width:1024px; }
.coords { cursor: pointer; min-width:180px; position: relative;}
.sex2deg-toogle { position: absolute; right: 2px; top: 1px;}
.img-polaroid {margin-top:16px;}
/* for ranking */
.namecol { width: 100px !important; white-space: nowrap; overflow: hidden;text-overflow: ellipsis; }
.ratingcol { position:relative; min-width:50px; }
.ratingbar { position:absolute; display:block; height:16px; }
.ratingbar.bad { background-color:#9d261d; }
.ratingbar.good { background-color:#46a546; }
/* for gallery */
.imagenamecol {min-width: 180px;}
.timecol {width: 134px;}
.modal {top: 60px; }
#des-hero {position: relative; padding: 30px 60px; border: 1px solid #ddd; border-top: 0px; margin-top: -20px; }
#ccdmap { position:absolute; top: 15px; left: 15px; width:530px; height: 454px; }
.ccdshape { position: absolute; border: 1px solid transparent;}
.ccdshape-current { border: 1px solid red}
.ccdshape:hover { border: 1px solid #46a546; cursor: pointer;}
#demo {position: fixed; width: 1024px; text-align: center; margin-top: 300px; z-index: 100; font-size: 120px; color: #9d261d; opacity: 0.5; -ms-transform: rotate(-35deg); -webkit-transform: rotate(-35deg); transform: rotate(-35deg);}
